<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Market AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav> 
        <h2> Global Market AI </h2>

        <div class- "nav-links">
            <a href="index.html"> Home </a>
            <a href="dashboard.html">Dashboard</a>
            <a href="market_finder.html">Market Finder</a>
        </div>
    </nav>

    <main class="hero">
        <p class="tag">GLOBAL MARKET INTELLIGENCE</p>
        <H1> Find the right international market for your business</H1>

        <p class=" description"> 
            A market intelligence platform designed to help Sri Lankan businesses identify suitable market opportunities for international expansion using data-driven market analysis
        </p>
        <a href="market_finder.html" class="main-button"> Explore Markets</a>
    </main>
    </body>
</html>